apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "fluentbit.fullname" . }}-config
  labels:
    {{- include "fluentbit.labels" . | nindent 4 }}
data:
  fluent-bit.conf: |
{{ .Values.config.service | indent 4 }}
{{ .Values.config.input | indent 4 }}
{{ .Values.config.filter | indent 4 }}
{{ .Values.config.output | indent 4 }}

